Node-RED flow.json
[{"id":"234c5fa6.9db5f","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"ca20934b.0f86d","type":"function","z":"234c5fa6.9db5f","name":"Output Parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.text[0];\n}\nelse{\n    msg.url=\"https://www.itravelatl.com/wp-content/uploads/2018/09/samsung-logo.jpg\"\nmsg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["55e1340e.eb73fc","94a66b79.c01968"]]},{"id":"313e33ae.8abedc","type":"function","z":"234c5fa6.9db5f","name":"Input Parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["66152f3a.b1cf8","62d62e08.648e5"]]},{"id":"66152f3a.b1cf8","type":"watson-conversation-v1","z":"234c5fa6.9db5f","name":"Samsung Mobile Store Chatbot","workspaceid":"ed013ef7-7967-4f49-ba42-bc4c5889b15d","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d39093cd-ae95-4dd9-803f-606c1b5daa59","timeout":"","optout-learning":false,"x":570,"y":180,"wires":[["ca20934b.0f86d"]]},{"id":"55e1340e.eb73fc","type":"ui_text","z":"234c5fa6.9db5f","group":"1c2d3c30.9984f4","order":4,"width":7,"height":"5","name":"","label":"Bot : ","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":260,"wires":[]},{"id":"62d62e08.648e5","type":"ui_text","z":"234c5fa6.9db5f","group":"1c2d3c30.9984f4","order":3,"width":0,"height":0,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":100,"wires":[]},{"id":"2bb37e39.dd4be2","type":"ui_form","z":"234c5fa6.9db5f","name":"","label":"","group":"1c2d3c30.9984f4","order":2,"width":0,"height":0,"options":[{"label":"Enter your message","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"send","cancel":"reset","topic":"","x":70,"y":180,"wires":[["313e33ae.8abedc"]]},{"id":"94a66b79.c01968","type":"ui_template","z":"234c5fa6.9db5f","group":"1c2d3c30.9984f4","name":"Image Template","order":1,"width":7,"height":3,"format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":340,"wires":[[]]},{"id":"1c2d3c30.9984f4","type":"ui_group","z":"","name":"Chatbot Sam","tab":"252703b4.9cc4cc","order":1,"disp":true,"width":7,"collapse":false},{"id":"252703b4.9cc4cc","type":"ui_tab","z":"","name":"Samsung Mobile Store Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]